provone-bpel/src/main/resources/Ecodicology.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ecodocologywebservices.ecodicology.kit.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ecodocologywebservices.ecodicology.kit.edu/" name="Ecodicology">
<types>
<xsd:schema>
<xsd:import namespace="http://ecodocologywebservices.ecodicology.kit.edu/" schemaLocation="http://141.52.65.208:8888/EcodocologyWebServices/Ecodicology?xsd=1"/>
</xsd:schema>
</types>
<message name="preProcess">
<part name="parameters" element="tns:preProcess"/>
</message>
<message name="preProcessResponse">
<part name="parameters" element="tns:preProcessResponse"/>
</message>
<message name="InitializationException">
<part name="fault" element="tns:InitializationException"/>
</message>
<message name="segmentPage">
<part name="parameters" element="tns:segmentPage"/>
</message>
<message name="segmentPageResponse">
<part name="parameters" element="tns:segmentPageResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<portType name="Ecodicology">
<operation name="preProcess">
<input wsam:Action="http://ecodocologywebservices.ecodicology.kit.edu/Ecodicology/preProcessRequest" message="tns:preProcess"/>
<output wsam:Action="http://ecodocologywebservices.ecodicology.kit.edu/Ecodicology/preProcessResponse" message="tns:preProcessResponse"/>
<fault message="tns:InitializationException" name="InitializationException" wsam:Action="http://ecodocologywebservices.ecodicology.kit.edu/Ecodicology/preProcess/Fault/InitializationException"/>
</operation>
<operation name="segmentPage">
<input wsam:Action="http://ecodocologywebservices.ecodicology.kit.edu/Ecodicology/segmentPageRequest" message="tns:segmentPage"/>
<output wsam:Action="http://ecodocologywebservices.ecodicology.kit.edu/Ecodicology/segmentPageResponse" message="tns:segmentPageResponse"/>
<fault message="tns:InitializationException" name="InitializationException" wsam:Action="http://ecodocologywebservices.ecodicology.kit.edu/Ecodicology/segmentPage/Fault/InitializationException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://ecodocologywebservices.ecodicology.kit.edu/Ecodicology/segmentPage/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://ecodocologywebservices.ecodicology.kit.edu/Ecodicology/segmentPage/Fault/IOException"/>
</operation>
</portType>
<binding name="EcodicologyPortBinding" type="tns:Ecodicology">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="preProcess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InitializationException">
<soap:fault name="InitializationException" use="literal"/>
</fault>
</operation>
<operation name="segmentPage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InitializationException">
<soap:fault name="InitializationException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Ecodicology">
<port name="EcodicologyPort" binding="tns:EcodicologyPortBinding">
<soap:address location="http://localhost:8888/EcodocologyWebServices/Ecodicology"/>
</port>
</service>
</definitions>