provone-bpel/src/main/resources/simpleCalculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kit.demo/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://kit.demo/" name="simpleCalculator">

    <types>
        <xsd:schema>
            <xsd:import namespace="http://kit.demo/" schemaLocation="simpleCalculator.xsd"/>
                        <!--schemaLocation="http://ipeswm10:8888/Calculator/simpleCalculator?xsd=1"/>-->

        </xsd:schema>
    </types>
    <message name="Add">
        <part name="parameters" element="tns:Add"/>
    </message>
    <message name="AddResponse">
        <part name="parameters" element="tns:AddResponse"/>
    </message>
    <message name="Subtract">
        <part name="parameters" element="tns:Subtract"/>
    </message>
    <message name="SubtractResponse">
        <part name="parameters" element="tns:SubtractResponse"/>
    </message>
    <message name="Div">
        <part name="parameters" element="tns:Div"/>
    </message>
    <message name="DivResponse">
        <part name="parameters" element="tns:DivResponse"/>
    </message>
    <message name="Multiply">
        <part name="parameters" element="tns:Multiply"/>
    </message>
    <message name="MultiplyResponse">
        <part name="parameters" element="tns:MultiplyResponse"/>
    </message>
    <message name="square">
        <part name="parameters" element="tns:square"/>
    </message>
    <message name="squareResponse">
        <part name="parameters" element="tns:squareResponse"/>
    </message>
    <portType name="SimpleCalculator">
        <operation name="Add">
            <input wsam:Action="http://kit.demo/SimpleCalculator/AddRequest" message="tns:Add"/>
            <output wsam:Action="http://kit.demo/SimpleCalculator/AddResponse" message="tns:AddResponse"/>
        </operation>
        <operation name="Subtract">
            <input wsam:Action="http://kit.demo/SimpleCalculator/SubtractRequest" message="tns:Subtract"/>
            <output wsam:Action="http://kit.demo/SimpleCalculator/SubtractResponse" message="tns:SubtractResponse"/>
        </operation>
        <operation name="Div">
            <input wsam:Action="http://kit.demo/SimpleCalculator/DivRequest" message="tns:Div"/>
            <output wsam:Action="http://kit.demo/SimpleCalculator/DivResponse" message="tns:DivResponse"/>
        </operation>
        <operation name="Multiply">
            <input wsam:Action="http://kit.demo/SimpleCalculator/MultiplyRequest" message="tns:Multiply"/>
            <output wsam:Action="http://kit.demo/SimpleCalculator/MultiplyResponse" message="tns:MultiplyResponse"/>
        </operation>
        <operation name="square">
            <input wsam:Action="http://kit.demo/SimpleCalculator/squareRequest" message="tns:square"/>
            <output wsam:Action="http://kit.demo/SimpleCalculator/squareResponse" message="tns:squareResponse"/>
        </operation>
    </portType>
    <binding name="SimpleCalculatorPortBinding" type="tns:SimpleCalculator">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="Add">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Subtract">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Div">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Multiply">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="square">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="simpleCalculator">
        <port name="SimpleCalculatorPort" binding="tns:SimpleCalculatorPortBinding">
            <soap:address location="http://ipeswm10:8888/Calculator/simpleCalculator"/>
        </port>
    </service>
</definitions>